tr td[colspan] {
  font-weight: bold;
}

td:first-child {
  max-width: 33em;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tr.screenshot-missing td:not(.view) {
  background-color: #383f48;
  color: white;
}

tr.screenshot-modified td:not(.view) {
  background-color: #e7766f;
  color: white;
}

tr.screenshot-unlisted td:not(.view) {
  background-color: #ffdca0;
}

tr.screenshot-equal td:not(.view) {
  background-color: #ceffb3;
}

#copy {
  position: absolute;
  right: 1em;
  padding: .7em;
  font-weight: bold;
  cursor: pointer;
}
